@font-face {
    font-family: 'MonotypeCorsiva';
    src: url('fonts/MonotypeCorsiva.eot');
    src: url('fonts/MonotypeCorsiva.eot') format('embedded-opentype'),
         url('fonts/MonotypeCorsiva.woff2') format('woff2'),
         url('fonts/MonotypeCorsiva.woff') format('woff'),
         url('fonts/MonotypeCorsiva.ttf') format('truetype'),
         url('fonts/MonotypeCorsiva.svg#MonotypeCorsiva') format('svg');
}
